<<<<<<< HEAD




=======
/ =form_for @ascent do |f|

/   =f.label :ascent_id, class: 'form-group'
/   =f.text_field :ascent_id, class: 'form-control'

/   =f.label :name, class: 'form-group'
/   =f.text_field :name, class: 'form-control'

/   =f.label :aspect, class: 'form-group'
/   =f.text_field :aspect, class: 'form-control'

/   =f.label :latitude, class: 'form-group'
/   =f.text_field :latitude, class: 'form-control'

/   =f.label :longitude, class: 'form-group'
/   =f.text_field :longitude, class: 'form-control'
/   %br/
/   .form-group
/     =f.submit class: 'btn btn-success'
>>>>>>> e473287e729bd2a3c5ccc43efbb26923c2ced2d2
