=form_for @sector, url: crag_sector_path(@sector.crag, @sector) do |f|

  .form-group
    = f.collection_select(:crag_id, @crags, :id, :name, {:prompt => "Select sector..."}, {:selected => :prompt, class: 'form-control'})

  =f.label :name, class: 'form-group'
  =f.text_field :name, class: 'form-control'

  =f.label :aspect, class: 'form-group'
  =f.text_field :aspect, class: 'form-control'

  =f.label :latitude, class: 'form-group'
  =f.text_field :latitude, class: 'form-control'

  =f.label :longitude, class: 'form-group'
  =f.text_field :longitude, class: 'form-control'
  %br/
  .form-group
    =f.submit class: 'btn btn-success'
