%p Name:
=link_to sector.name, crag_sector_path(sector.crag.id, sector.id)
%p Aspect:
=sector.aspect
%p X:
=sector.x
%p Y:
=sector.y
%p Crag name:
=link_to sector.crag.name, crag_path(sector.crag.id)
