.container
  .row
    .col.col-md-4
      %h3  Sector name:
      =@sector.name
      %h3 Sector aspect:
      =@sector.aspect
      %h3 Sector x:
      =@sector.x
      %h3 Sector y:
      =@sector.y
      %h3 Sector crag:
      =@sector.crag.name
