%div#map{style: 'width: auto; height: 500px', data: ''}

:javascript
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'}}, function(){
  var markers = handler.addMarkers(#{raw @crags_hash.to_json});
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  });
