.jumbotron.jumbotron-fluid
  .container
    %h1.display-4 Top 10 climbers
    %table.table.table-striped.table-hover.w-50
      %thead
        %tr
          %td No.
          %td User
          %td Points
      %tbody
        -@users.each_with_index do |user, i|
          %tr
            %td= i + 1
            %td= link_to full_user_name(user), show_user_path(user)
            %td= user.total_points
