.jumbotron.jumbotron-fluid
  .container
    %h1.display-4 Top 10 climbers
    %table.table.table-striped
      %thead
        %tr
          %td No.
          %td User
          %td Points
      %tbody
        -@users.each_with_index do |user, i|
          %tr
            %td= i + 1
            %td= link_to user.email, edit_user_registration_path(user)
            %td= user.total_points
