@import "bootstrap";

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  background: image-url('sunrise-in-the-mountains.jpg') no-repeat;
  width: 100%;
  background-attachment: fixed;
}

nav {
  margin-bottom: 40px,
}

.btn {
  margin-left: 10px;
}

body#static-pages-index {
  width: 100%;
  font-family: 'Lato', sans-serif;
  h1{
    font-weight: 600;
  }
  .lead{
    font-weight: 500;
    margin-bottom: 60px;
  }
}


.jumbotron {
  background-color: rgba(192,192,192,0.4)
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}

nav{
  font-family: 'Lato', sans-serif;
}

body#static-pages-thanks{
  background-attachment: fixed;
    h1{
    font-size: 75px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
  }
}

#last_ascents
{
  color: white;
  a
  {
    color: white;
  }
}

table thead
{
  font-weight: bold;
}

table
{
  margin: auto;
}

a
{
  color: white;
}

a:hover
{
    color: #036;
}

.form-control {
  margin-bottom: 10px;
  margin-top: 10px;
}
.form-group{
  left: -10px;
}
